<!DOCTYPE html>
<html>
<head>
    <mete chartset="utf-8"/>
    <title>Login Home</title>
</head>
<body>
<div style="width:400px;text-align:center;border:2px solid #555555">
<h2 style="width:400px;text-align:center;background-color:#1785a1;margin-top:0;padding-top:10px;padding-bottom:10px">歡迎光臨, 請輸入帳號密碼</h2>
<h3 style="width:380px;text-align:center;padding:10px;margin:0">登入系統</h3>
<form action="/signin" method="POST" style="width:400px;background-color:#ffffff"></br>
    帳號 : <input type="text" name="userID"/></br>
    密碼 : <input type="text" name="passWord"/></br></br>
    <button>登入</button>
</form></br>
<a href="/signout" style="text-align:center">登出頁面</a>
</div>
</body>
</html>